@import "./variables";
@import "./0-plugins/plugins-dir";
@import "./1-base/base-dir";
@import "./2-layouts/layouts-dir";
@import "./3-components/components-dir";
@import "./6-abstracts/abstract-dir";
// @import "./partials/normalize";
@import "compass";
 @import "compass/css3";





  
  





.navbar-default {
@extend .navbar-custom;
border-top: 3px solid $color-dark;
}


.container-fluid{
  margin-top: 80px;
section#section-1{
  .section-1
  {
    .bg-image{
      // position: relative;
      background: url("../images/family-banner1.jpg") center top;
      background-repeat: no-repeat;
      background-size: cover;
      .wrapper{
position: relative;
top:0;
left:0;
// border: 11px solid green;
        .bg-path{
          
          // -webkit-clip-path: circle(53.5% at 50% 18%);
          // clip-path: circle(53.5% at 50% 18%); 



          -webkit-clip-path: polygon(100% 0, 50% 100%, 0 100%, 0 27%, 23% 0);
clip-path: polygon(100% 0, 50% 100%, 0 100%, 0 27%, 23% 0);
          background-color:$color-dark;// $color-secondary;
          height: 550px;
          width: 70%;
          opacity: 1;
          z-index: -11;
          // top:40px;
          //
        
          .inner{
            position: absolute;
    
    top:80px;
            z-index: 99;
            // border: 11px solid red;
            // height: 110vh;
            // width: 100%;
            color:#fff;
            padding:$padding-section;
            h1{
              text-align: center;
              color:$color-secondary;
            }
          }
     
        }
     }     
     
    }
  }
}
}



#sidebar-left {
  float: left;
  margin-top: -8px;
  #vert-nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      line-height: 1.7em;
      width: 120px;
      li {
        border-bottom: 2px solid $color-primary;
        border-color: darken($color-primary, 70%);

        &:last-child {
          border-bottom: none;
        }

        &:nth-child(1) {
          background-color:pink;
        }

        &:nth-child(2) {
          background-color: mix($yellow, $white, 50%);
        }

        &:nth-child(3) {
          background-color: fade-out($orange, .5);
        }

        &:nth-child(4) {

          background-color: fade-in($orange, .8);

        }

        &:nth-child(5) {
          background-color: rgba(0, 200, 43, 0.5);
        }

        &:nth-child(6) {
          background-color: adjust-hue($color-primary, 90dg);
        }

        &:nth-child(7) {
          background-color: grayscale($orange);
        }

        &:nth-child(8) {
          background-color: adjust-color($color-primary, $red:0, $green:140, $blue:0);
        }

        &:nth-child(9) {
          background-color: rgba(0, 200, 43, 0.5);
        }

        &:nth-child(10) {
          background-color: adjust-hue($color-primary, 90dg);
        }

        &:nth-child(11) {
          background-color: grayscale($orange);
        }

        &:nth-child(12) {
          background-color: grayscale($orange);
          background-color: adjust-hue($color-primary, 90dg);
        }


        &:nth-child(13) {
          background-color: grayscale($orange);

        }

        &:nth-child(14) {
          background-color: grayscale($orange);

          background-color: red;//adjust-hue($color-primary, 90dg);
        }

        a {
          text-decoration: none;
          color: #00647D;
          padding: 2px 20px;
          display: block;
          opacity: 7;
          color: $color-primary;

          &:hover {
            opacity: 1;
          }
        }





      }

    }
  }
}


#sidebar-right {
  float: right;
  width: 213px;

  .right-sidebar-title {
    color: #00647D;
    font-weight: bold;
  }

  .right-sidebar-image {
    background: $gray;
    margin: 12px 0px;
  }

}


main#content {
  margin: 0px 213px 0px 109px;
  padding: 0px;

  section.first-section {
    margin: 30px;

    h2 {
      margin-top: 0px;
      margin-bottom: 10px;
      color: #00647D;
      line-height: 1em;
    }

    article {

      #feature-image {
        height: 200px;
        width: 100%;
        background: $gray;
      }

      p {
        margin: 20px 0;
      }
    }
  }
}





footer {
  clear: both;
  background: #00647D;
  color: #FFF;
  text-align: center;
  padding: 10px;
}







#riddle {
  padding: 20px;
  background-color: $alice-blue;
}


%dotted-box {
  border: 2px dotted $duke-blue;
  margin: 10px 0;
}


#riddle-answer {
  @extend #riddle;
   @extend %dotted-box ;
   @include border-radius(5px);
   @include box-shadow(5px 5px 5px 2px $gray);
  margin-top: 10px;

}





%main-green-gradient {
  
  @include background-image(linear-gradient(left,$color-primary 60%, $white,$red,green));
}


footer {
  @extend %main-green-gradient;
}
      #main-title {
         @include text-shadow(5px 25px 15px rgba($blue,.9));
  @extend %main-green-gradient;

      }



    .bushra.container{

      border:1px solid red;
    }